<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace必须是接口的全类名  -->
<!--因为在application.properties配置了包扫描 所以  resultType可以直接写User-->
<mapper namespace="com.example.boot.sys.login.mapper.UserMapper">
	<select id="findByName" parameterType="String" resultType="User">
		select * from user where name= #{userName}
	</select>
</mapper>
